#set($title = $ctx.args.title)
#set($encodedId = $util.base64Encode($title))

#set($input = {
    "id": $encodedId,
    "type": "post",
    "userId": $title,
    "updatedAt": $util.time.nowEpochMilliSeconds()
})

{
    "version" : "2018-05-29",
    "operation" : "PutItem",
    "key" : {
        "id" : $util.dynamodb.toDynamoDBJson($encodedId)
    },
    "attributeValues" : $util.dynamodb.toMapValuesJson($input)
}
